body {
    background-color: #f7fcff;
}
.contact-form {
    margin: 10%;
}

h1 {
    margin-left: 1%
}

input:invalid + .error-message {
    display: block;
}

.error-message {
    margin-top: -18px;
    color: red;
    display: none;
}

#comment {
    width: 100%;
    height: 50%;
    white-space: pre-wrap;
}
